body {
    background-color:azure;
}

.verticalBox {
    align-self: center;
}

.topBar {
    display: flex;
    background-color:lightblue;
}

.topBar div {
    background-color:aquamarine;
    border: 1px solid black;
    height: 40px;
    flex: 1 1 0%;
}

.topRight {
    text-align: center;
}

.sketch-column {
    display: flex;
}

.sketch-row {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

#middleMain {
    display: flex;
    flex-direction: column;
}
