body {
    background-color:azure;
}

.topBar {
    display: flex;
    background-color:lightblue;
}

.topBar div {
    background-color:aquamarine;
    border: 1px solid black;
    height: 40px;
    flex: 1 1 0%;
}

.topRight {
    text-align: center;
}

.small-boxes {
    width: 96px;
    height: 96px;
    background-color: grey;
}
